<body>

    <!-- Pseudo Classes -->

    <!-- first-child , odd , even -->
    <ul>
        <li class=" odd:bg-green-500 even:bg-orange-500">item 1</li>
        <li class=" odd:bg-green-500 even:bg-orange-500">item 2</li>
        <li class=" odd:bg-green-500 even:bg-orange-500">item 3</li>
        <li class=" odd:bg-green-500 even:bg-orange-500">item 4</li>
    </ul>

    <!-- placeholder -->
    <input type="text" placeholder="Hello World" class="border mt-4 placeholder:text-red-500">
    
    <p class="after:content-['hello'] after:text-green-300">
        after
    </p>

    <p class="before:content-['hello'] before:text-green-300">
        before
    </p>

    <!-- Attribute selectors -->
    <p class="ltr:text-red-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Voluptate odio at nulla qui rerum dicta optio quidem esse libero impedit animi sint commodi aliquam dolorem facere, expedita nobis mollitia sed?</p>

</body>
