<body>
    <!-- 
        Tailwind uses a mobile first breakpoint system
        Breakpoint prefix Minimun width CSS
        sm 640px @media (min-width:640px)
        md 768px @media (min-width: 768px)
        lg 1024px @media (min-width: 1024px)
        xl 1280px @media (min-width: 1280px)
        2xl 1536px @media (min-width: 1536px)
     -->

     <!-- Breakpoint Classes & Media Queries -->
     <div class="flex flex-wrap gap-y-4">
        <div class="border-8 p-10 w-full sm:w-1/2 md:w-1/2 lg:bg-blue-500"></div>
        <div class="border-8 p-10 w-full sm:w-1/2 md:w-1/2 lg:bg-blue-500"></div>
        <div class="border-8 p-10 w-full sm:w-1/2 md:w-1/2 lg:bg-blue-500"></div>
        <div class="border-8 p-10 w-full sm:w-1/2 md:w-1/2 lg:bg-blue-500"></div>
     </div>
</body>