<body>
    <button [routerLink]="['/color']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">color</button>
    <button [routerLink]="['/container-spacing']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">container-spacing</button>
    <button [routerLink]="['/typegraphy']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">typegraphy</button>
    <button [routerLink]="['/sizing']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">sizing</button>
    <button [routerLink]="['/postion-z-index']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">postion-z-index</button>
    <button [routerLink]="['/background-shadow']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">background-shadow</button>
    <button [routerLink]="['/border-fliter']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">border-fliter</button>
    <button [routerLink]="['/interActivity']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">interActivity</button>
    <button [routerLink]="['/pseudoClasses-pseudoElement']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">pseudoClasses-pseudoElement</button>
    <button [routerLink]="['/breakpoint-mediaQueries']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">breakpoint-mediaQueries</button>
    <button [routerLink]="['/flex-box']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">flex-box</button>
    <button [routerLink]="['/grid']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">grid</button>
    <button [routerLink]="['/transitions-animation']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">transitions-animation</button>
    <button [routerLink]="['/transform']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">transform</button>
    <button [routerLink]="['/dark-mode']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">dark-mode</button>
    <button [routerLink]="['/taiwind-cli']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">taiwind-cli</button>
    <button [routerLink]="['/apply-layerDirectives']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">apply-layerDirectives</button>
    <button [routerLink]="['/plugins']" class="m-9 p-9  bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">plugins</button>
</body>
