<body>
    <!-- text Color -->
    <div class="text-blue-600">
        Hello World
    </div>

    <!-- background color -->
    <div class="bg-yellow-600">
        Hello World
    </div>

    <!-- underline -->
    <div class="underline decoration-red-800">
        hello world
    </div>

    <!-- Border Colors -->
    <input type="text" class="border border-cyan-600">
    <!-- Divider Colors -->
    <div class="divide-y divide-red-600">
        <div>item 1</div>
        <div>item 2</div>
        <div>item 3</div>
        <div>item 4</div>
        <div>item 5</div>
    </div>

    <!-- outline Colors -->
    <button class="outline outline-cyan-600">Ag Coding</button>

    <!-- Box Shadow Colors || Opacity defaults to 100 -->
    <div class="shadow shadow-orange-800/2">Ag Coding</div>

    <!-- Accent Colors -->
    <input type="checkbox" checked class="accent-cyan-600">
    <input type="radio" checked class="accent-slate-800">

    <!-- Arbitrary Colors -->
    <div class="text-[]">Ag Coding</div>

    <!-- customize -->
    <div class="">Ag Coding</div>


</body>