<body>
    <!-- Fixed widths -->
    <div class="bg-black py-24 mb-48 w-96"></div>

    <!-- Percentage widths -->
    <div class="bg-green-700 py-8 w-1/6"></div>
    <div class="bg-green-700 py-8 w-1/4"></div>
    <div class="bg-green-700 py-8 w-1/2"></div>


    <!-- min/max Width -->

    <div class="bg-red-600 py-24 min-w-min"></div>

    <!-- fixed Height -->
    <div class="flex">
        <div class="bg-orange-600 text-white w-1/3 h-10">Ag</div>
        <div class="bg-orange-600 text-white w-1/3 h-15">Ag</div>
        <div class="bg-orange-600 text-white w-1/3 h-20">Ag</div>
    </div>

    



    <!-- viewport && 100% && arbitary Value -->
    <div class="bg-red-600 h-screen"></div>
    <div class="bg-black h-[600px]">
        <div class="bg-green-600 h-full"></div>
    </div>


</body>