<body>
    <!-- Hover & Focus & Active State Styling -->
    <button class="bg-white border border-black m-6 p-3 rounded text-black hover:bg-black transition">
        Save changes
    </button>
    <button class="bg-violet-500 m-6 p-3 rounded text-white hover:bg-red-600 focus:bg-violet-500">
        Save change
    </button>
    <button class="bg-black m-6 p-3 rounded text-white active:bg-green-500">
        Save changes
    </button>

    <!-- Styling based on parent on parent state -->

    <div class="border p-8 m-8 group cursor-pointer">
        <h3 class="group-hover:text-green-500">Ag Coding</h3>
        <p class="group-hover:text-red-500">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt minima consequuntur exercitationem at,
             libero in aperiam? Minima sequi, debitis ut, nemo neque provident facilis quisquam a harum inventore veniam! Harum!
        </p>
    </div>

    <!--  Appearnace -->
    <select class="appearance-none">
        <option>Yes</option>
        <option>No</option>
        <option>Maybe</option>
      </select>

    <!-- caret -->

    <input type="text" class="border outline-none caret-red-900">
    <input type="checkbox" class="accent-green-500">

    <!-- Text textarea -->
    <textarea class="resize rounded-md border-8"></textarea>

    <!-- Cursor -->

    <!-- Scroll -->
    
</body>
